*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(to bottom,#2987e4 50%, #16191e 50%);
}
.container{
    width: 400px;
    padding: 50px;
    border:1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    background-color:#ffffff;
    box-shadow: 0 5px 35px rgba(50, 50, 50, 0.2);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dice-wrapper{
    width: 90%;
    display: flex;
    justify-content: space-around;
}
p{
    font-size: 1rem;
    margin: 30px 0;
    font-weight: 500;
}
button{
    background-color: #e92e3d;
    border:none;
    padding: 1rem ;
    border-radius: 0.45rem;
    color:#ffffff;
    outline:none;
    font-weight: 500;
    font-size:1.1rem;
    border:1px solid #e92e3d;
    transition:0.5s ease;
    letter-spacing: 1px;
}
button:hover{
    cursor:pointer;
    background-color:#ffffff;
    color:#e92e3d;
}

.shake{
    animation:shake 0.5s infinite;
    -webkit-animation:shake 0.5s infinite;
}

@keyframes shake {
    0%{
        transform:rotate(8deg);  
    }
    50%{
        transform:rotate(-8deg);
    }
    100%{
        transform:rotate(8deg);  
    }
}